
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Epilogue:wght@900&family=Bangers&family=Oswald:wght@200;600&family=Poppins:ital,wght@0,200;0,300;0,600;1,300;1,900&family=Special+Elite&family=Yanone+Kaffeesatz:wght@700&display=swap');


/*
font-family: 'Anton', sans-serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Bangers', cursive;
*/


:root {
   --color-hhdi-blue: #2351b7;
   --color-hhdi-grn: #00a859;
   --color-hhdi-yellow: #fbb216;
   --color-hhdi-grylt: #cececd;
   --color-hhdi-blk: #231f20;
   --color-hhdi-red: #ec1c24;
}

html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 16px;
}


body {
  background-color: var(--color-hhdi-blk)!important;
  font-family: Segoe UI, Tahoma, Verdana, Geneva, sans-serif;
  color: var(--color-hhdi-grylt)!important;
}

.hlarge {
  font-size: 48px;
}

h1 {
  color: var(--color-hhdi-red);
  font-family: 'Bangers', cursive;
}

h2,
h3,
h4,
h5 {
  color: var(--color-hhdi-red);
  font-family: 'Bangers', cursive;
  font-weight: 400;
}

h6 {
  color: rgba(255,255,255,.55);
  font-family: 'Bangers', cursive;
}

.italquote {
  font-family: 'Special Elite', cursive;
  font-style: italic;
  font-size: 1.2em;
}

.span-nvy {
  font-family: 'Special Elite', cursive;
  color: var(--color-hhdi-yellow);
  font-weight: 600;
}

/*-- navbar --*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #000;
  font-family: 'Bangers', cursive;
  font-size: large;
  border: 0;
}

.navbar-collapse {
  justify-content: end!important;
}

.dropdown-item {
  background-color: #f5f5f5;
  color: var(--color-bluedk);
  font-size: 14px;
}



/* not working? */
.dropdown-item:hover {
  background-color: var(--color-bluedk)!important;
  color: var(--color-wht-alpha)!important;
  font-weight: 600;
}

/* working */
.dropdown-item.active {
  background-color: var(--color-wht-alpha)!important;
  color: var(--color-bluedk)!important;
  font-weight: 600;
}

.navbar-dark .navbar-nav>.active {
  background-color: #f5f5f5;
  color: var(--color-bluedk);
}

.navbar-dark .navbar-nav>.active>a {
  background-color: #f5f5f5;
  color: var(--color-bluedk);
}

.navbar-dark .navbar-nav>.active>a:hover {
  background-color: #f5f5f5;
  color: var(--color-bluedk);
}

#navburger {
  border: 0;
}

.navbar-dark .navbar-nav>li>a {
  color: var(--color-wht-alpha);
}



.navbar-dark .navbar-toggle {
  border: 0;
}

.navbar-dark .navbar-toggle:hover {
  background-color: var(--color-bluedk)!important;
  color: var(--color-wht-alpha)!important;
}

.navbar-dark .navbar-toggle:focus {
  background-color: var(--color-bg);
  border: 0;
}

/*
.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
*/

/* for div */
.button {
  align-items: center;
}

.sb-button {
  font-size: 16px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.quote {
  border: none;
  background-color: var(--color-bluemd);
  color: var(--color-yellow);
}

.quote:hover {
  background-color: var(--color-bluedk);
}

.learnmore {
  border: 2px solid var(--color-bluedk);
  background-color: var(--color-wht-alpha);
  color: var(--color-bluemd);
}

.learnmore:hover {
  background-color: var(--color-bluemd);
  color: var(--color-yellow)
}

.discl {
  background-color: var(--color-bluemd);
  color: var(--color-wht-alpha);
  font-size: small;
}

.img-text {
  background-color: black;
  color: white;
}

.top-pic {
  margin-bottom: 100px;
}

.no-m-p {
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: #000;
  color: var(--color-hhdi-grylt)!important;
}

.footer-grid {
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer-grid a {
  color: rgba(255,255,255,.55);
  font-size: small;
  text-decoration: none;
}

.footer-grid a:hover {
  color: var(--color-hhdi-red)!important;
  text-decoration: none;
}


.copyright {
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}